@import url('https://fonts.googleapis.com/css2?family="Vesper+Libre":wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

body{
font-family:"VesperLibre";
color: #1a1a1a;
line-height: 1.5; 
margin: 0%
}

header, footer{
background-color: #000;
color: #fff;
text-align: center;
}

img{
width: 100%;
}

#logo{
width: 100px;
padding-top: 8px;
}

main{
  padding: 20px;
}

h1{
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news{
  display: inline-block;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom: 2px, #ff3530;
}

figcaption,.news,sub-title,time,.author,h2{
font-family: "OpenSans";
}

.author,time{
font-size: .85rem;
margin-bottom: 0;
}

figure{
  margin: 1.25em 0;
}

figcaption{
  font-size: .75rem;
  text-align: center;
  color: #757575;
  font-style: italic;
}

ul{
  list-style-type: none;
  padding-left: 0%;
}

a{
  color: #1a1a1a;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
  color: #ff3530;
}

